@import './base.css';

/* Header */

.header-container {
    background-color: var(--ivory-color);
    border-bottom: 1px solid var(--off-white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 80px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

/* Adds a pseudo-element to each link of the header to avoid each hover affecting the other links */
.nav-links a::after {
    content: attr(data-text);
    font-weight: 500;
    visibility: hidden;
    display: block;
    height: 0;
    overflow: hidden;
}

.nav-links a:hover {
    font-weight: 500;
}


/* Footer */

.footer-container {
    background-color: var(--white-color);
    padding-right: 90px;
    height: 80px;
}

.footer-container p {
    text-align: right;
}